extends layout

block content
  a.btn.btn-secondary(href='/' role='button') Back
  br
  br
  h1.font-weight-light Add Article
  form(method='POST', action='/article/add')
    #form-group
      label.font-weight-light Title:
      input.form-control(name='title', type='text')
    #form-group
      label.font-weight-light Category:
      input.form-control(name='category', type='text')
    #form-group
      label.font-weight-light Image Path:
      input.form-control(name='image', type='text')
    #form-group
      label.font-weight-light Body:
      textarea.form-control(name='body' id='bodytextarea')
    br
    input.btn.btn-primary(type='submit', value='Submit')