extends layout

block content
  h1 Trending News
  if user
    a.btn.btn-primary(href='/article/add', role='button') Add Article
    br
  form(method='POST', action='/')
    #form-filter
      br
      label Filter by day:
      select(class='selectname' name='selectname')
        option(value='all') Choose a day
        option(value='Sun') Sunday
        option(value='Mon') Monday
        option(value='Tue') Tuesday
        option(value='Wed') Wednesday
        option(value='Thu') Thursday
        option(value='Fri') Friday
        option(value='Sat') Saturday
        input.btn.btn-primary.btn-sm.search(type='submit', value='Search')

  ul.list-group
    br
    each article, i in articles
      li.list-group-item
        h6 #{article.date.toDateString()}
        h2
          a(href="/article/"+article._id)= article.title
        br
        if(article.body.length > 800)
          p #{article.body.substring(0,800)}...
          a.btn.btn-outline-info(href='/article/'+article._id type='button') Read More
        else
          p=article.body