doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title News Feed
    // Bootstrap core CSS
    link(href='/bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/small-business.css', rel='stylesheet')
  body
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href='#') News Feed
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            if user
              li.nav-item
                a.nav-link(href='/user/logout') Logout
            else
              li.nav-item
                a.nav-link(href='/user/register') Register
              li.nav-item
                a.nav-link(href='/user/login') Login
            script(src='/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js')
    br
    block content
    footer.py-5.bg-dark
            .container
              p.m-0.text-center.text-white Copyright © Your Website 2019
            // /.container
            // Bootstrap core JavaScript
            script(src='jquery/jquery.min.js')
