extends layout

block content
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    // ---- Include the above in your HEAD tag --------
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.8/css/all.css')
  link(rel='stylesheet', href='/stylesheets/register.css')
  .container
    br
    .card.bg-light
      article.card-body.mx-auto(style='max-width: 400px;')
        h3.card-title.mt-3.text-center.font-weight-light Login
        p.text-center.font-weight-light Sign in to your account
        p.font-weight-light
          a.btn.btn-block.btn-twitter(href='')
            i.fab.fa-twitter.font-weight-light
            |    Login via Twitter
        p.divider-text
          span.bg-light OR
        form(method='POST', action='/user/login')
          .form-group.input-group
            .input-group-prepend
              span.input-group-text
                i.fa.fa-user
            input.form-control(name='username', placeholder='Username', type='text')
          // form-group end.//
          .form-group.input-group
            .input-group-prepend
              span.input-group-text
                i.fa.fa-lock
            input.form-control(name='password' placeholder='Password', type='password')
          .form-group
            button.btn.btn-primary.btn-block.font-weight-light(type='submit') Sign In
    // card.//
    // container end.//