#reg-form-group {
  width: 20%;
}

#bodytextarea {
  width: 1110px;
  height: 150px;
}

#newsfeed {
  margin-top: -3px;
  margin-left: 8px;
}

.selectnameday {
  margin-left: 42px;
  width: 162px;
}

.selectnamecat {
  margin: 7px;
}

.selectnamecatadd {
  margin: 0px;
  width: 1111px;
  height: 38px;
}

.btn.btn-primary.search.cat {
  margin-left: 10px;
  margin-top: -5px;
}

.btn.btn-primary.search.day {
  margin-left: 16px;
  margin-top: -5px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
  font-weight: 500;
}

.img-responsive {
  width: 300px;
}

.inarticle {
  width: 850;
  height: 435px;
}

h1.card-title.font-weight-light {
  font-size: 200%;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.footer {
  text-align: center;
}

.pull-right {
  float: right;
}

#eye-icon {
  margin-left: 187px;
  margin-bottom: 5px;
}

.temperature {
  display: flex;
  justify-content: stretch;
  width: 22%;
}
